header
{
     background-color: #F63232;
     padding: 20px;
     text-align: center;
     position: fixed;
     width: 100%;
     z-index: 1 ;/*brings elements forward or backwards (default is 0 , 1> foward <1 bacwards*/
     top: 0;
     left: 0;
     font-family:  Helvetica;

}
header h1
{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;

}
.banner
{
    position: relative;

}
.banner img
{
    max-width: 100%;
   
}
.banner .welcome
{
    background-color: #feb614;
    color: white;
    padding:30px;
    position: absolute;
    left: 0px;
    top:30%;
}
.banner h2
{
    font-size: 74px;
}
.main-nav ul a
{
    color:purple;
}
.banner h2 span
{
    font-size:1.3em; /* 1.3 the defautlt font size*/
}
